<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!"</h1>
    <h2>Enter your phrase:</h2>
  <form action="POST" method="/piglatinize">
  <textarea name="user_phrase"></textarea><br>
  <button type="submit" id="submit">Submit</button>
  </form>
  
  </form>
  </body>
</html>